
    <body>
        <header>
            <style>
                .header {
                    max-width: 500px;
                    height: 100px;
                    background-color: powderblue;
                }
            </style>
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        </header>
        


        <div class="header">
            <i class="fas fa-cloud"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-car"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        Això es el peu

        @Html.Partial("~/Vistas/_Peu.cshtml");

    </body>

