
@using System.Collections;

@using web.Models;
@{
    Layout = "~/Vistas/_vista.cshtml";
 }
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Test</title>


</head>
<body>

    @{
        
        ArrayList valors = (ArrayList)ViewData["Valor"];
        <select>
            @foreach (Persona p in valors)
            {
                <option>  @p.Nombre   </option>
            }
        </select>
    }


</body>
</html>
